@import "./utils/vars.scss";
@import "./utils/mixins.scss";
@import "./utils/reset.scss";
@import "./utils/normalize.scss";
@import "./utils/fonts.scss";
@import "./utils/animations.scss";

@import "../components/Main/main.scss";
@import "../components/Home/home-page.scss";
@import "../components/NavigationMenu/navigation-menu.scss";
@import "../components/TopMenu/top-menu.scss";
@import "../components/NavigationLink/navigation-link.scss";
@import "../components/Products/products.scss";
@import "../components/ProductCard/product-card.scss";
@import "../components/AddButon/add-button.scss";
@import "../components/Orders/orders.scss";
@import "../components/OrderCard/order-card.scss";
@import "../components/OrderedProducs/ordered-products.scss";

body {
  min-height: 100%;
  min-width: fit-content;
  overflow-x: hidden;
}

#root {
  height: 100vh;
}

.order_and_products_app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-wrapper {
  @include image-wrapper(45px);
}

.photo {
  @include image;
}
