@mixin underlineActive {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    background-color: $accent-color;
    border-radius: 4px;
    animation: slide-in-right $transition-duration ease forwards;
  }
}

@mixin image-wrapper($width) {
  display: flex;
  width: $width;
}

@mixin image {
  width: 100%;
  height: auto;
}

@mixin secondary-text {
  font-size: 14px;
  color: $dark-grey;
}
